.DS_Store

.htpasswd
robots.txt

.settings/
.buildpath
.project

assets/export/*
!assets/export/.empty

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide/
