body {
  padding: 0.5em;
  font-family: 'Segoe UI', sans-serif;
}

#container {
  text-align: center;
}

.vplan_header {
  margin-bottom: 1em;
}

.vplan {
  margin-left: auto;
  margin-right: auto;
}

.vplan_th td {
  font-weight: bold;
}

.vplan_overview_button {
  font-size: 110%;
  min-width: 30px;
  margin: 2px;
}

.grade_overview_button {
  min-width: 150px;
  margin: 2px;
}
