body {
  padding: 0.5em;
  font-family: 'Segoe UI', sans-serif;
}

#container {
  text-align: center;
}

.vplan_header {
  margin-bottom: 1em;
}

.vplan {
  margin-left: auto;
  margin-right: auto;
}

.vplan_th td {
  font-weight: bold;
}
